@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@font-face {
  font-family: "Soulmaze";
  src: url("../public/fonts/MyFont/MADE\ Soulmaze\ PERSONAL\ USE.otf")format("woff2");
  font-weight: 900;
}

body {
  margin: 0;
  font-family: "Soulmaze",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #eff1f2;
  font-weight: 400!important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}
