@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@font-face {
  font-family: "Soulmaze";
  src: url("../public/fonts/MyFont/MADE\ Soulmaze\ PERSONAL\ USE.otf")
    format("woff2");
  font-weight: 900;
}

/* variabili corrispondenti ai font di tutto il progetto e al loro ridimensionamento quando lo schermo cambia */
:root {
  /* base */
  --fs-body: clamp(16px, 0.3vw + 15px, 18px);
  --lh-body: 1.6;

  /* titoli */
  --fs-h6: clamp(18px, 0.4vw + 16px, 20px);
  --fs-h5: clamp(20px, 0.6vw + 17px, 24px);
  --fs-h4: clamp(22px, 0.9vw + 18px, 28px);
  --fs-h3: clamp(26px, 1.3vw + 18px, 32px);
  --fs-h2: clamp(32px, 2.1vw + 18px, 40px);
  --fs-h1: clamp(
    36px,
    3.4vw + 18px,
    64px
  ); /* puoi spingere a 72–80px per hero */

  --lh-h: 1.2;


  /* colori tema scuro (default) */
  --color-background:  #2b2b33;
  --color-scroll-top: #2b2b2b;
  --color-hover-card: #1b1b1b;
  --color-text: #ffd369;
  --color-text-loader: #ffd369;
  --color-surface: #0f172ad9;
  --color-border: #94a3b866;
  --color-toggle-bg: #0f172abf;
  --color-toggle-text: #f8fafc;
  --color-toggle-shadow: #0f172a2e;
  --color-toggle-shadow-hover: #0f172a42;
  --color-tech-background: #1b1b1b;
  --color-text-tech: #ffd369;
  --color-text-tech-hover: #1b1b1b;
  --color-tech-background: #ffd369;
    --color-span-hover:#2b2b2b;
  --color-text-span-hover:#ffd369;
}


[data-theme="light"] {
  color-scheme: light;
  --color-background: #ffff;
   --color-scroll-top: #e4e2de;
  --color-span-hover:#ffff;
  --color-text-span-hover: #000;
   --color-text: #000;
  --color-surface: #ffffffe6;
  --color-border: #94a3b873;
  --color-toggle-bg: #ffffffe6;
  --color-toggle-text: #0f172a;
  --color-hover-card: #e4e2de;
  --color-toggle-shadow: #0f172a26;
  --color-toggle-shadow-hover: #0f172a38;
}

[data-theme="light"] {
  color-scheme: light;
}



h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h);
}
h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h);
}
h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h);
}
h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h);
}
h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-h);
}
h6 {
  font-size: var(--fs-h6);
  line-height: var(--lh-h);
}
p {
  font-size: var(--fs-h6);
  line-height: var(--lh-h);
}
.small,
small {
  font-size: clamp(14px, 0.2vw + 13px, 16px);
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Soulmaze", sans-serif;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Oswald", "sans-serif";
  font-weight: 200;
  /* background-color: #0f172a; ok */
  /* background-color: #2D2D2D; */
  /* background-color: #051C2C; */
  /* background-color: #1e1B4B; */
  /* color: #FF6B5A; */
  /* background-color: #302f2b; */
  background-color: var(--color-background);
  color: var(--color-text);
  /* color: #abd1c6; */
  /* color: #00E5D9; */
  /* color: #FFD369; */
  /* color: #D1FAE5; ok*/
  /* color:#A7F3D0; */
  /* color: #CFFAFE; */
  /* rosso buono per cancelare */
  /* color: #EF4444; */
  /* color: #94A3B8; */
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* color: #eff1f2; */
  font-weight: 400 !important;
}

.specialP {
  opacity: 0.7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

/* Css degli input */

.col {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  

  /* Input & textarea */
  .col input,
  .col textarea,
  .col select {
    padding: 14px 12px 10px; /* spazio per la label “floating” */
    border: 1px solid #ccc;
    border-radius: 4px;
    font: inherit;
    background: #fff;
    color: var(--color-text);
    outline: none;
    transition: border-color 0.2s ease;
   
  }

  .col textarea {
    min-height: 120px;
    resize: vertical;
     resize: none;
  }

  .col input:focus,
  .col textarea:focus {
    border-color: #0b1e33;
  }

  /* Label “floating” */
  .col label {
    position: absolute;
    left: 12px;
    top: 17px;
    font-weight: 500;
    padding: 0 4px;
    background: #fff; /* copre il bordo quando sale */
    color: var(--color-text);
    transform: translateY(0);
    font-size: 14px;
    line-height: 1;
    pointer-events: none; /* click passa all’input */
    transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;

  }

  /* 1) Quando il campo è in focus → label sale */
  .col:focus-within label {
    transform: translateY(-23px);
    font-size: 14px;
    color: var(--color-text);
  }

  .col:has([data-select-has-value="true"]) label {
  transform: translateY(-23px);
  font-size: 14px;
    color: var(--color-text);
}


  /* 2) Quando il campo NON è vuoto → label resta su
     (richiede placeholder=" " sull’input/textarea) */
  .col:has(input:not(:placeholder-shown)) label,
  .col:has(textarea:not(:placeholder-shown)) label {
    transform: translateY(-23px);
    font-size: 14px;
    color: var(--color-text);
  }

/* questo serve a nascondere le frecce di default per gli input number */
 input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield; /* necessario per Firefox */
  appearance: textfield;      /* standard */
}

/* fine css degli input */