@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@font-face {
  font-family: "Soulmaze";
  src: url("../public/fonts/MyFont/MADE\ Soulmaze\ PERSONAL\ USE.otf")
    format("woff2");
  font-weight: 900;
}

/* variabili corrispondenti ai font di tutto il progetto e al loro ridimensionamento quando lo schermo cambia */
:root {
  /* base */
  --fs-body: clamp(16px, 0.3vw + 15px, 18px);
  --lh-body: 1.6;

  /* titoli */
  --fs-h6: clamp(18px, 0.4vw + 16px, 20px);
  --fs-h5: clamp(20px, 0.6vw + 17px, 24px);
  --fs-h4: clamp(22px, 0.9vw + 18px, 28px);
  --fs-h3: clamp(26px, 1.3vw + 18px, 32px);
  --fs-h2: clamp(32px, 2.1vw + 18px, 40px);
  --fs-h1: clamp(
    36px,
    3.4vw + 18px,
    64px
  ); /* puoi spingere a 72–80px per hero */

  --lh-h: 1.2;


  /* colori tema scuro (default) */
  --color-background: #302f2b;
  --color-scroll-top: #2b2b2b;
  --color-hover-card: #1b1b1b;
  --color-text: #ffd369;
  --color-text-loader: #ffd369;
  --color-surface: #0f172ad9;
  --color-border: #94a3b866;
  --color-toggle-bg: #0f172abf;
  --color-toggle-text: #f8fafc;
  --color-toggle-shadow: #0f172a2e;
  --color-toggle-shadow-hover: #0f172a42;
  --color-tech-background: #1b1b1b;
  --color-text-tech: #ffd369;
  --color-text-tech-hover: #1b1b1b;
  --color-tech-background: #ffd369;
    --color-span-hover:#2b2b2b;
  --color-text-span-hover:#ffd369;
}


[data-theme="light"] {
  color-scheme: light;
  --color-background: #0f172a;
  --color-span-hover:#5eead4;
  --color-text-span-hover: #a7f3d038;
   --color-text: #D1FAE5;
  --color-surface: #ffffffe6;
  --color-border: #94a3b873;
  --color-toggle-bg: #ffffffe6;
  --color-toggle-text: #0f172a;
  --color-hover-card: #1e293b;
  --color-toggle-shadow: rgba(15, 23, 42, 0.15);
  --color-toggle-shadow-hover: rgba(15, 23, 42, 0.22);
}

[data-theme="dark"] {
  color-scheme: dark;
}



h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h);
}
h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h);
}
h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h);
}
h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h);
}
h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-h);
}
h6 {
  font-size: var(--fs-h6);
  line-height: var(--lh-h);
}
p {
  font-size: var(--fs-h6);
  line-height: var(--lh-h);
}
.small,
small {
  font-size: clamp(14px, 0.2vw + 13px, 16px);
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Soulmaze", sans-serif;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Oswald", "sans-serif";
  font-weight: 200;
  /* background-color: #0f172a; ok */
  /* background-color: #2D2D2D; */
  /* background-color: #051C2C; */
  /* background-color: #1e1B4B; */
  /* color: #FF6B5A; */
  /* background-color: #302f2b; */
  background-color: var(--color-background);
  color: var(--color-text);
  /* color: #abd1c6; */
  /* color: #00E5D9; */
  /* color: #FFD369; */
  /* color: #D1FAE5; ok*/
  /* color:#A7F3D0; */
  /* color: #CFFAFE; */
  /* rosso buono per cancelare */
  /* color: #EF4444; */
  /* color: #94A3B8; */
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* color: #eff1f2; */
  font-weight: 400 !important;
}

.specialP {
  opacity: 0.7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}


